h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.about {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.about h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  background: linear-gradient(
    to right bottom,
    rgba(71, 68, 68, 0.7),
    rgba(58, 52, 52, 0.3)
  );
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  display: block;
}
.about div {
  width: 70%;
}
.about div ul {
  display: grid;
  list-style: circle;
  grid-template-columns: repeat(2, 1.5fr);
  padding: 10px;
  padding-left: 40px;
}

.project-container h2 {
  align-self: self-start;
  position: relative;
  font-size: 2rem;
  margin: 20px 0 20px 30px;
}
.about-container {
  position: relative;
  width: 505;
}
h2.headline {
  align-self: self-start;
  position: relative;
  font-size: 2rem;
  margin: 20px 0 20px 30px;
}
.headline {
  position: relative;
}
h2.headline::before {
  content: "•";
  margin: 5px;
}
h2.headline::after {
  content: "";
  height: 2px;
  min-width: 50%;
  width: 100%;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.863);
  position: absolute;
  margin-left: 20px;
  top: 50%;
}

.projectcard {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  margin: 12px;
  width: 70%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: linear-gradient(
    to right bottom,
    rgba(80, 80, 80, 0.616),
    rgba(163, 161, 161, 0.329)
  );
  box-shadow: inset 5px 5px 5px rgba(99, 92, 92, 0.3),
    inset -5px -5px 5px rgba(99, 92, 92, 0.3), 0px 5px 5px rgba(99, 92, 92, 0.3);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.projectcard:hover {
  box-shadow: inset 5px 5px 5px rgba(99, 92, 92, 0.3),
    inset -5px -5px 5px rgba(99, 92, 92, 0.3), 0px 5px 5px rgba(99, 92, 92, 0.3);
  background: linear-gradient(
      to right bottom,
      rgba(80, 80, 80, 0.616),
      rgba(163, 161, 161, 0.329)
    ),
    linear-gradient(to top, rgba(255, 255, 255, 0.034), rgba(255, 255, 255, 0));
}
.left {
  width: 45%;
  margin: 10px;
  display: flex;
  -o-object-fit: fill;
  object-fit: fill;
  align-self: center;
}
.projectcard .right {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.projectcard .right section {
  align-items: center;
  justify-content: center;
  display: flex;
}
.projectcard .right section h3 {
  margin-right: auto;
}
.projectcard .right section svg {
  font-size: 24px;
  margin: 10px;
  border-radius: 5px;
}
.projectcard .right section svg:hover {
  scale: 1.1;
}
.projectcard .right p {
  color: rgba(255, 255, 255, 0.8);
}
.projectcard .right ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: auto;
}
.projectcard .right ul li {
  opacity: 0.7;
  margin: 10px 10px 5px 0;
}
.projectcard .right ul li:hover {
  opacity: 0.9;
}

.Project-title {
  transition: 0.3s;
}

.projectcard:hover {
  transform: translateY(-4px);
}

.contact {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  height: 95vh;
  align-items: center;
  text-align: center;
}
.contact h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: bolder;
}
.contact p {
  padding-top: 20px;
  width: 50%;
}
.contact button {
  padding: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(5, 5, 5, 0.719),
    rgba(0, 0, 0, 0.445)
  );
  border: none;
  border-radius: 10px;
  margin-top: auto;
  box-shadow: inset 3px 3px 5px grey;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.contact button:hover {
  transform: translateY(-3px);
  box-shadow: inset 3px 3px 5px grey, 0 3px;
}
.contact a {
  margin-top: auto;
  text-decoration: none;
}
.footer a {
  margin-top: auto;
  text-decoration: none;
}
.contact a span {
  font-size: 12px;
}
.contact a span:hover {
  color: rgb(218, 218, 218);
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 10px;
  }
  .about h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    background: linear-gradient(
      to right bottom,
      rgba(71, 68, 68, 0.7),
      rgba(58, 52, 52, 0.3)
    );
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .about div {
    width: 70%;
  }
  .about div ul {
    display: grid;
    list-style: circle;
    grid-template-columns: repeat(2, 1.5fr);
    padding: 10px;
    padding-left: 40px;
  }

  .projectcard {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    width: 70%;
    height: min-content;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    box-shadow: 5px 5px 5px rgba(9, 9, 9, 0.3), -5px -5px 5px rgba(0, 5, 8, 0.3),
      0px 5px 5px rgba(9, 2, 92, 0.3);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
  }
  .projectcard:hover {
    box-shadow: inset 5px 5px 5px rgba(99, 92, 92, 0.3),
      inset -5px -5px 5px rgba(99, 92, 92, 0.3),
      0px 5px 5px rgba(99, 92, 92, 0.3);
    background: linear-gradient(
        to right bottom,
        rgba(80, 80, 80, 0.616),
        rgba(163, 161, 161, 0.329)
      ),
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0.034),
        rgba(255, 255, 255, 0)
      );
  }

  img.left {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 47%;
    left: 48%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    object-fit: cover;
  }

  .projectcard .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    transition: all 0.5s ease-in;
    background: rgba(0, 0, 0, 0.8);
  }
  .projectcard:hover .right {
    background-color: rgba(0, 0, 0, 0.445);
  }
  .projectcard .right section {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .projectcard .right section h3 {
    margin-right: auto;
  }
  .projectcard .right section svg {
    font-size: 24px;
    margin: 10px;
    border-radius: 5px;
  }
  .projectcard .right section svg:hover {
    scale: 1.1;
  }
  .projectcard .right p {
    font-size: 1rem;
  }
  .projectcard .right ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  .projectcard .right ul li {
    opacity: 0.7;
    margin: 10px 10px 5px 0;
  }
  .projectcard .right ul li:hover {
    opacity: 0.9;
  }

  .Project-title {
    transition: 0.3s;
  }

  .projectcard:hover .Project-title {
    color: white;
  }

  .projectcard:hover {
    transform: translateY(-4px);
  }

  .contact {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    text-align: center;
  }
  .contact h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: bolder;
  }
  .contact p {
    padding-top: 20px;
    width: 50%;
  }
  .contact button {
    padding: 20px;
    background: linear-gradient(
      to right bottom,
      rgba(5, 5, 5, 0.719),
      rgba(0, 0, 0, 0.445)
    );
    border: none;
    border-radius: 10px;
    margin-top: auto;
    box-shadow: inset 3px 3px 5px grey;
    transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .contact button:hover {
    transform: translateY(-3px);
    box-shadow: inset 3px 3px 5px grey, 0 3px;
  }
  .contact a {
    margin-top: auto;
    text-decoration: none;
  }
  .contact a span {
    font-size: 12px;
  }
  .contact a span:hover {
    color: rgb(218, 218, 218);
  }
}
.coming-soon {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
}
