$gradient: linear-gradient(
  to right bottom,
  rgba(80, 80, 80, 0.616),
  rgba(163, 161, 161, 0.329)
);

$shadow: inset 5px 5px 5px rgba(99, 92, 92, 0.3),
  inset -5px -5px 5px rgba(99, 92, 92, 0.3), 0px 5px 5px rgba(99, 92, 92, 0.3);

.about {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(71, 68, 68, 0.7),
    rgba(58, 52, 52, 0.3)
  );
  h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    background: linear-gradient(
      to right bottom,
      rgba(71, 68, 68, 0.7),
      rgba(58, 52, 52, 0.3)
    );
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
  }

  div {
    width: 70%;
    ul {
      display: grid;
      list-style: circle;
      grid-template-columns: repeat(2, 1.5fr);
      padding: 10px;
      padding-left: 40px;
    }
  }
}

.projectcard {
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  margin: auto;
  width: 60vw;
  backdrop-filter: blur(15px);
  background: $gradient;
  box-shadow: $shadow;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  &:hover {
    box-shadow: $shadow;
  }
  .left {
    width: 45%;
    margin: 10px;
    display: flex;
    object-fit: fill;
    img {
      width: 100%;
      align-self: center;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    section {
      align-items: center;
      justify-content: center;
      display: flex;
      h3 {
        margin-right: auto;
      }
      svg {
        font-size: 24px;
        margin: 10px;
        // padding: 5px;
        border-radius: 5px;
        &:hover {
          scale: 1.1;

          background-color: rgb(8, 8, 8);
          box-shadow: $shadow;
        }
      }
    }
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      li {
        opacity: 0.7;
        margin: 20px 5px;
      }
    }
  }
}
.Project-title {
  transition: 0.3s;
}
.projectcard:hover .Project-title {
  color: aqua;
}
.projectcard:hover {
  transform: translateY(-4px);
}

.contact {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  height: 95vh;
  align-items: center;
  text-align: center;
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: bolder;
  }
  p {
    padding-top: 20px;
    width: 50%;
  }
  button {
    padding: 20px;
    background: linear-gradient(
      to right bottom,
      rgba(5, 5, 5, 0.719),
      rgba(0, 0, 0, 0.445)
    );
    border: none;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: inset 3px 3px 5px grey;
    transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      transform: translateY(-3px);
      box-shadow: inset 3px 3px 5px grey, 0 3px;
    }
  }
  a {
    margin-top: auto;
    text-decoration: none;
    span {
      font-size: 12px;
      &:hover {
        color: rgb(218, 218, 218);
      }
    }
  }
}
